@import 'header';

.nav {
  @include flexbox(row, center, center);
  height: 170px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1;
  background-color: $orange;
  color: white;
  padding: 1.5em;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
}

.nav__container {
  @include flexbox(column, center, center);
}

// TWEETER logo
.nav__bungee {
  font-family: 'Bungee', cursive;
  font-size: 32px;
  line-height: 1.5em;
  vertical-align: middle;
  text-align: center;
  border-bottom: 2px solid $off-white;
  padding-bottom: 10px;
}

.nav__new-tweet {
  border: none;
  background-color: $blue;
  color: $off-white;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer;
}

// new tweet button
.nav__new-tweet-container {
  @include flexbox(column, center, center);
  padding: 10px 10px 0 10px;
}

.nav__new-tweet-container:hover {
  cursor: pointer;

  .fa-angle-double-down {
    -webkit-animation: mover 0.5s infinite  alternate;
    animation: mover 0.5s infinite  alternate;
  }

  .nav__new-tweet > strong {
    color: $red;
  }
}

.fa-angle-double-down {
  padding-top: 3px;
  color: $red;
}

// moves the new tweet double arrow up and down
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-5px); }
}

@media (min-width: 600px) {
  .nav__container {
    flex-direction: row;
    justify-content: space-between;
    width: 950px;
  }
  .nav {
    height: 120px;
  }
  .nav__new-tweet {
    font-size: 24px;
  }
  .nav__bungee {
    border-bottom: 0;
    padding-bottom: 0;
  }

  .nav__new-tweet-container {
    padding: 0 10px;
  }
}

@media (min-width: 768px) {
  .nav {
    background-color: $blue;
    background-image: none;
  }
}