@import 'helper';

.new-tweet {
  width: 100%;
  margin: 20px 40px 40px 40px;
  position: relative;
}

.new-tweet__submit-container {
  @include flexbox(row, space-between, center);
  font-family: 'Bungee', cursive;
  font-size: 20px;
  margin: 20px 0 10px 0;
}

.new-tweet__button {
  background-color: $blue;
  border: 0;
  color: white;
}

.new-tweet__container {
  @include flexbox(column, space-between, normal);
  margin-top: 60px;
}

#tweet-text {
  border-width: 0 0 3px 0;
  border-style: solid;
  border-color: $black;
  background-color: $off-white;
  resize: none;
  outline: none;
  height: 2.5rem;
  margin-top: 10px;
}

.new-tweet__red {
  color: $red;
}

.new-tweet__black {
  color: $black;
}

.new-tweet__error {
  color: $red;
  font-size: 16px;
  background-color: $light-red;
  width: 100%;
  position: absolute;
  border: 3px solid $red;
  vertical-align: middle;
  padding: 5px 10px;
  line-height: 1.5em;
}

.new-tweet__error > .fas {
  color: $red;
}

@media (min-width: 600px) {
  .new-tweet {
    margin-bottom: 60px;
  }
  .new-tweet__error {
    font-size: 22px;
  }
  .new-tweet__container {
    margin-top: 100px;
  }
}