@import 'helper';

.all-tweets-container {
  @include flexbox(column, flex-start, center);
  width: 100%;
  margin: 0 40px 40px 40px;
}

.all-tweets {
  width: 100%;
  margin-bottom: 40px;
}

.tweet {
  @include flexbox(column, flex-start, space-between);
  width: 100%;
  padding: 0 15px;
  border: 3px solid $black;
  font-weight: 300;
  margin: 0 0 20px 0;
}

.tweet:hover {
  box-shadow: 8px 8px $blue;
}

.tweet:hover .tweet__handle{
  color:rgba(113, 157, 227, 0.8);
}

.tweet__article-header {
  @include flexbox(column, center, flex-start);
  margin: 20px 10px 30px 10px;
}

.tweet__name {
  margin: 0 10px;
}

.tweet__user {
  @include flexbox(row, flex-start, center);
}

.tweet__handle {
  @include flexbox(row, center, center);
  font-size: 16px;
}

.tweet__body {
  border-bottom: 3px solid $black;
  padding: 0 10px 15px 10px;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.tweet__article-footer {
  @include flexbox(row, space-between, center);
  margin: 0px 10px 20px 10px;
  font-size: 14px;
}

.tweet__buttons > .fas {
  color: rgb(113, 157, 227);
}

@media (min-width: 600px) {
  .tweet__article-header {
    @include flexbox(row, space-between, center);
  }
  .tweet__handle {
    font-size: 22px;
  }
}