.nav {
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1;
  background-color: #4056a1;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  justify-content: center;
}


.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
}

.nav__bungee {
  font-family: 'Bungee', cursive;
  font-size: 32px;
  line-height: 1.5em;
  vertical-align: middle;
}

.nav__new-tweet {
  font-size: 24px;
}

.nav__new-tweet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.nav__new-tweet-container:hover {
  cursor: pointer;
}

.nav__new-tweet-container:hover .fa-angle-double-down {
  -webkit-animation: mover 0.5s infinite  alternate;
  animation: mover 0.5s infinite  alternate;
}

.nav__new-tweet-container:hover .nav__new-tweet > strong {
  color: #c33;
}

.fa-angle-double-down {
  padding-top: 3px;
  color: #c33;
}

@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-5px); }
}